<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% include 'button.html' with label='Menu' url='/dashboard'%}
    {% include 'button.html' with label='Registrar Usuario' url='/accounts/register'%}
    <h1> USER DETAILS </h1>
    <table>
        <tr>
            <th> Matricula </th>
            <th> Usuario </th>
            <th> Nombre(s) </th>
            <th> Apellidos </th>
            <th> Contraseña </th>
            <th> Correo Institucional </th>
            <th> Correo Personal </th>
            <th> Estatus </th>
        </tr>
        {% for data in Data %}
            <a href='users/hiddenuser?keyID='|add:data.academicKey ><tr> 
                <td> {{data.academicKey}} </td>
                <td> {{data.username}} </td>
                <td> {{data.password}} </td>
                <td> {{data.status}} </td>
                {% comment %} <td> {% include 'button.html' with label='Mostrar Datos' url='users/hiddenuser?keyID='|add:data.academicKey %} </td>
                <td> {% include 'button.html' with label='Editar' url='users/edit?keyID='|add:data.academicKey %} </td>
                <td> {% include 'button.html' with label='Ocultar/Eliminar' url='users/hiddenuser?keyID='|add:data.academicKey %} </td> {% endcomment %}
            </tr>
        {% endfor %}
        
    </table>
    
</body>
</html>